a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


@font-face {
    font-family: 'Roboto';
}

.combat-card {
    border-radius: 10px;
    padding: 10px;
    width: 25%;
    margin: auto;
}

.combat-card--content {
    background-color: rgba(42, 117, 187,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.combat-card--info {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.combat-card--info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.combat-card--info-pv,
.combat-card--info-name {
    font-size: 1.5em;
    margin-right: 10px;
    font-weight: 600;
    font-family: 'Roboto';
}

.combat-card--avatar {
    width: 70%;
    max-width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
    animation: animationPokemon linear 4s;
    animation-iteration-count: infinite;
    animation-fill-mode:forwards;
    transform: scale(2);
}

.combat-card--desc {
    text-align: left;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Roboto';
    padding: 25px;
}

.combat-card--atks {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.combat-card--atks-panel {
    padding: 15px;
    border: solid 2px #ffcb05;
    background-color: #3c5aa6;
    width: 80%;
    font-size: 1.1em;
    font-family: 'Roboto';
    font-weight: 600;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.combat-card--atks-panel-name{
    display:flex;
    align-items: center;
}
.combat-card--atks-panel-name img{
    margin-right: 10px;
}

  
@keyframes animationPokemon{
    0% {
      transform:  translate(0px,0px) scale(1.5) ;
    }
    30% {
      transform:  translate(5px,-5px) scale(1.5) ;
    }
    60% {
      transform:  translate(5px,0px) scale(1.5) ;
    }
    80% {
      transform:  translate(0px,5px) scale(1.5) ;
    }
    100% {
      transform:  translate(0px,0px) scale(1.5) ;
    }
  }
  
  