/**
 * ----------------------------------------
 * Début règle animation heartbeat
 * ----------------------------------------
 */
 @keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
  }
  /**
   * ----------------------------------------
   * Fin règle animation heartbeat
   * ----------------------------------------
   */
  
  
  /**
   * ----------------------------------------
   * Début règle animation loading
   * ----------------------------------------
   */
   @keyframes bouncing-loader {
    to {
      opacity: 0.1;
      transform: translate3d(0, -1rem, 0);
    }
  }
  /**
   * ----------------------------------------
   * Fin règle animation loading
   * ----------------------------------------
   */
  

.container{

  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  min-width: 100vh;
  height: 100%;
  position:relative;
}  

.Loading__title {
  font-family : PokemonSolid;
  text-align: center;
}

.title {
  color:  #3B4CCA;
  text-shadow: 1px 2px 4px  #FF0000, 2px 3px 5px #003A70, 5px 2px 6px #FFCB05;
  font-size: 3rem;
  z-index: 11;
}

.logo {
  display:flex;
  justify-content: center;
  margin-left: 54vh;
  margin-top: -38vh;
  position: absolute;

}



.picture {
  display: flex;
  position: absolute;
  justify-items: center;
  margin-top: 12vh;
  margin-left: 48vh;
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
  z-index: 10;
  margin-left: 44vh;
  width: 107vh;
  margin-top: 13vh;
 }

.heartbeat >img {
  height: 129px;
}
  
.bouncing-loader {
  display: flex;
  justify-content: center;
}
.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #f1d70b;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
  border: 3px solid black;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

@media (orientation: landscape) and (max-width : 768px){
  .logo {
    margin-left: 42vh;
    position: absolute;
    font-size: 2rem;
  }
  .picture >img {
    width: 56%;
    margin-left: 37vh;
  }

  .heartbeat {
    margin-top: 40vh;
    margin-left: 307px;
  }

  .heartbeat >img {
    height: 86px;
  }

  .bouncing-loader {
    margin-top: -33px;
  }
}